# Masukan APP ID ambil di web my.telegram.org
API_KEY = "21976341"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "8817cf59c95f0a1851d65c3a176137e2"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOHsBu6jJciQZkl-uU-P2myOj7yQf2CPrCx1fJOnUmTFvD22yXRLIdc9cJ7-yApZIHioTSNYFQjZ9KcN_7IsKLg2FAVJ03jw7T24nzCK1KGykL6CFbAjk1wLSHD2UvDrPHZ8sWoN_U87zlfsVgqrQjFnLFr31d1fkVK4ogT4GkIgxmnoc4Fgud5Bg-o863zaOZqPoZ8o1u-mZPKfAhZbiQaH01TGX2vabID3QTVS6L2Fst7Bg-kNI1F0sFIEdJjOoPDjMkD7Vxg0HBeXxFVDxQJARXmF-UsYWmmnJu8bwRLl0gHgjBOdfIh3-EyPC9Y7cRwBcn9ZxYq_jxlHTwGAQqz1-y48="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5819279392:AAHv-ssyOHnDScMN4rUodZ9yC1TyTN-ghvg"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001853183350 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://ouukpxux:vkFmUfvgn6xgSWPGdNMIIFBVygna6wz9@john.db.elephantsql.com/ouukpxux"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True

