# Masukan APP ID ambil di web my.telegram.org
API_KEY = "12582522"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "4a5e0b879993ba9d36cb6bb9464b0082"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOIIBu6IQxZ6Dug4njzEi0_6flpqCA6ylSengRZI5pY3iF9vkjVbrqnsZxunKUaogmeA3yLJAQN1hPwakkJPRLvhGMKQXs21HOTiAdLuORPTfn4uNAsOgxRhL1eHIWjwVwXeLYn0pvH4ZvKvbh0CBPa73tVluQc7Ah_fbkaVAncmdXG_5dfdGApvxoXY73hjGOe2z48DbGFT0sMMbXkikANvT8oXjChFkzS5vysz4iwnbVqmgaF7l7bI3EbaicCRuGK62XT2DXJejOPZ_JwkVNiub5Tjj0i2W2gZT4giuMSqsr4Ig0nPKkk80R7vEhkNpouSWQAUr5KL03Wzl0DIYiE24opc="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "6179990719:AAHV4wK_h6Zd1WhQojGrO-DQQwlC-csI5UQ"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001542063506 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://ouukpxux:vkFmUfvgn6xgSWPGdNMIIFBVygna6wz9@john.db.elephantsql.com/ouukpxux"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True

