# Masukan APP ID ambil di web my.telegram.org
API_KEY = "25922059"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "f38e2e070a3dda92d7a0455c612250cb"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOLUBu0RNbVNOiwZjS-LEmUXc62CJqrKvxiU8iRYI-xTNAmAsUT1qpTiVRYQWtpQ5drDW8ZrBKfHezefrB-sswdQSUkiAd1e8Dl5plHClvavNjMZzGhvoMvMHRsVPxMIHjAvmY2i0nOvL9hr4GsSvcbWmmJ94WF9cLpoyyX4QW4l6SbVbTiQSXaHvisDwozRik05pyuYBiXbGPI7CREjPtUOI2uvY_4B3V-YigVIgxzsobOULpNsyH0hRI4fwLBL-uXwHTgVk9EysBHYPFqzZfXOotqGKztISxlffuMBraKEHu0cBVFiUAMta7zdOHt4BlT0uQ1NUY78LkSeQno5nP_0="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5897668278:AAE6bcuyM4eNKK6a2dhvFXBUgAv7VReSduA"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001708518407 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://ouukpxux:vkFmUfvgn6xgSWPGdNMIIFBVygna6wz9@john.db.elephantsql.com/ouukpxux"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = True

